.byebug_history
.env*
.git
.gitignore
.pryrc
.ruby-version
Dockerfile
Jenkinsfile*
Makefile
log/*
node_modules/*
public/assets/*
tmp/*
!tmp/cache/assets/production/*
docs/*
config/database.yml.*
bin/*
!bin/rails
!bin/bundle
.ufo
